
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

#response {
  white-space: pre-wrap;
}

.quick-example {
  cursor: pointer;
  transition: transform 0.1s ease;
}
.quick-example:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

.category-icon {
  font-size: 2em;
}

.dark-mode-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.dark-mode-toggle[data-bs-theme="dark"] {
  background-color: #343a40;
  color: #ffffff;
}

body[data-bs-theme="dark"] {
  background-color: #121212; /* Dark background color */
  color: #ffffff; /* Light text color */
}

body[data-bs-theme="light"] {
  background-color: #ffffff; /* Light background color */
  color: #000000; /* Dark text color */
}

body.dark-mode .toggle-light-mode {
  color: #ffffff;
}

body.light-mode .toggle-light-mode {
  color: #000000;
}

.header-info-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly
}

.trucktech-logo {
  width: 150px;
  height: auto;
  margin: 20px;
}

.main-chat {
  margin-top: 20px;
}